*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
}
.hero_section{
    background-image: url("img/developerimg.jpg");
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_container{
    color: antiquewhite;
    max-width: 1000px;
    padding-top: 70px;
    padding-left: 64px;
}
.lg_text{
    font-size: 72px;
    font-weight: 400;
    color: rgb(183, 153, 153);
}
.black_box{
    background-color: black;
    padding: 20px;
}
.black_box h2 {
    color: aliceblue;
    font-size: 72px;
    text-align: center;
    font-weight: 300;
}
.black_box h2 span{
    color: white;
    font-weight: 400;
    font-size: 96px;
}
.work{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    max-width: 1100px;
    margin: 20px auto;
}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.card{
    margin-top: 40px;
    max-width: 320px;
    height:  400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(hsl(300, 100%, 50%), green, blue, alpha);
    transition: 0.2s case-in-out;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 3px, 5px, 5px rgba(hsl(313, 100%, 50%), green, blue, alpha);
    transition: 0.2s case-in-out;
}
.card_content{
    padding: 20px;
}
.card_content h3{
    margin-bottom: 10px;
}
.bottom_section{
    display: flex;
}
.contect{
    background-color: rgb(43, 226, 43);
}
.about{
    background-color: rgb(165, 42, 58);
}
.contect,
.about{
    height: 300px;
    padding: 32px;
    color: white;
}
.contect h2,
.about h2{
    font-size: 64px;
    font-weight: 300;
}
.contect p,
.about p{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px;
}
@media(max-width:786px){
    .hero_section{
        min-height: 50vh;
    }
    .text_container{
        padding: 10px 0;
        text-align: center;
    }
    .lg_text{
        font-size: 32px;
    }
    .black_box h2 {
        font-size: 24px;
    }
    .black_box h2 span {
         font-weight: 400;
         font-size: 32px;
    }
    .bottom_section {
        flex-direction: column;
    }
    h1{
        font-size: 32;
    }
    .about h2,
    .contect h2 {
        font-size: 32px;
    }
  }