*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#5563DE;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

.container h2{
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.input-box label{
    position: absolute;
    top: 10px;
    left: 0;
    color: #777;
    transition: 0.3s;
    pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #5563DE;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #5563DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #3949AB;
}

.links{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #5563DE;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}